body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #131626;
  height: 100vh;
  overflow: hidden;
  position: relative;
  max-width: 100%;
  max-height: 100%;
  touch-action: none;
}

.container {
  width: 500px;
  height: 750px;
  position: absolute;
  left: 50%;
  top: 0%;
  transform: translate(-50%, -0%);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  overflow: hidden;
  touch-action: none;

}

.valueDisplay {
  color: #f7bd8f;
  font-weight: 100;
}

canvas {
  max-width: 100%;
  max-height: 100%;
}

.Slider {
  background: #131626;
  height: 16px;
  width: 250px;
  border-radius: 8px;
  margin-top: 5px;
  margin-left: 20px;
  margin-bottom: 5px;
}